<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDtHVRBnGtovDTKx1LxOiQMBkq-IUWDQps</string>
	<key>GCM_SENDER_ID</key>
	<string>628916673317</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jkkjkj.tiktokprojectmaxcode</string>
	<key>PROJECT_ID</key>
	<string>tiktokproject-b81c3</string>
	<key>STORAGE_BUCKET</key>
	<string>tiktokproject-b81c3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:628916673317:ios:68a661eb555d29a17998cc</string>
	<key>DATABASE_URL</key>
	<string>https://tiktokproject-b81c3-default-rtdb.firebaseio.com/</string>
</dict>
</plist>
